html {
  background-color: #eeeeee;
}

.primaryColor {
  color: #42ffc1;
}

.highlightedColor {
  color: #34cc9a;
}

.grey {
  color: #eee;
}

.dark {
  color: #6c757d;
}
.darkest {
  color: #343a40;
}

#landing {
  background-color: #eeeeee;
}
#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  margin-top: 200px;
  margin-bottom: 80px;
}

.btn-outline-primary {
  color: #6c757d !important;
  background-color: transparent !important;
  background-image: none !important;
  border-color: #6c757d !important;
}
.btn-outline-primary:hover {
  /* color: #42ffc1 !important; */
  color: #6c757d !important;
  background-color: #3beeb2  !important;
  background-image: none !important;
  border-color: #3beeb2   !important;
}
