
.feed-container{
  height: 100%;
}

.feed-grid {
  height: 100%;
  display: grid;
  grid-template-columns: [main] 100%;
  grid-template-rows: [feed] 1fr [creator] 250px;
  align-items: end;
  justify-content: center;
}

.ticket-display {
  grid-row-start: feed;
  grid-row-end: creator;
}

.snap-rating {
  :hover {
    cursor: pointer;
  }
}

.fill {
  fill: $secondary;
  stroke: $secondary;
}

.empty{
  stroke: $secondary;
  fill: $tertiary;
}
