

/**
* LOGIN PAGE
*/
#login-page {
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.btn-login {
  padding: 0px !important;
}

.btn-item {
  padding: .5em 1em;
}

#github-logo {
  border-right: 1px solid $secondary;
  align-items: center;
  padding: .3em .5em .3em .5em;
}

#github-login {
  padding: .3em .5em .3em .25em;
}

#login-form {
  margin-top: 80px;
}