$primaryColor: #42ffc1;
$highlightedColor: #34cc9a;
$grey: #eee;
$dark: #6c757d;
$darkest: #343a40;

//for profile page
.profileSection {
  margin: 2em;
  padding: 2em; 

  h2, h5 {
    color: $highlightedColor;
    margin: .5em;
  }

  span {
    display: block;
  }

  button {
    margin: 1em;
    color: $grey;
    background-color: $highlightedColor;
    border-color: $grey;

     &:hover {
        background-color: $dark;
        color: $primaryColor;
     }
  }

  .mediaBody {
    margin: 0 0 0 1em;
  }

  .snapsDisplay {
    margin-left: 1.5em;

    h6 {
      display: inline;
    }
  }

  .feedbackDisplay {
    height: 250px;
    overflow: auto;
    
    .feedback {
      margin: 0 1.5em 1em 1em;
      padding: .5em;
      border: 2px solid white;

      span {
        margin-left: 2em;
      }
    }
  }
}