

.ticket-box {
  margin: 1em;
  padding: 1em 1em 1em 1em;
  background-color: white;
  border: $border;
  box-sizing: border-box;
  border-radius: .2em;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  .snap-buttons {
    margin-top: .5em;
  }
  .post-button {
    justify-content: end;
  }
  hr {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}
